/* CSS atualizado */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6; /* Cor de fundo suave */
}

.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff; /* Fundo branco para o conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

#bemvindo {
    color: #333; /* Cor de texto mais escura para contraste */
    font-weight: 700; /* Peso da fonte mais grosso */
    font-size: 2em; /* Tamanho de fonte maior */
    margin: 0;
    padding: 10px;
}

#lugarusuario {
    color: #007acc; /* Cor diferente para o nome do usuário */
}
#botaocalculadora {
    padding: 12px 28px;
    background-color: #007acc; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Indicador de botão clicável */
    transition: background-color 0.3s ease; /* Animação de hover */
}

#botaocalculadora:hover {

    background-color: red; /* Cor de fundo ao passar o mouse */
}
#botaosites{
    padding: 12px 28px;
    background-color: #007acc; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Indicador de botão clicável */
    transition: background-color 0.3s ease; /* Animação de hover */
}

#botaosites:hover{

    background-color: red;
}


.dropdown-content {
    display: none; /* Inicialmente oculto */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdowcada:hover{
    background-color: #007acc;
}
